name: Main Branch

on:
  push:
    branches: [main]

jobs:
  validate:
    uses: unbounded-tech/github-actions/.github/workflows/xrd-validate.yaml@main
    with:
      composition-path: apis/qdrants/composition.yaml
      definition-path: apis/qdrants/definition.yaml
      examples: minimal standard
      examples-path: examples/qdrants

  test:
    uses: unbounded-tech/github-actions/.github/workflows/xrd-test.yaml@main
    with:
      tests-path: tests/test-render

  e2e:
    needs: [validate, test]
    uses: unbounded-tech/github-actions/.github/workflows/xrd-e2e.yaml@main
    with:
      tests-path: tests/e2etest-qdrant
      aws-use-oidc: true
      aws-account-id: ${{ vars.AWS_ACCOUNT_ID }}
      aws-region: us-east-1
    permissions:
      id-token: write
      contents: read

  version-and-tag:
    needs: [validate, test, e2e]
    uses: unbounded-tech/github-actions/.github/workflows/xrd-version-and-tag.yaml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
